*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/background.jpg") repeat;
}
.heladera{
    width: 90%;
    height: 90%;
    background-color:rgb(196,196,196);
    border: 0.8rem solid rgb(190, 87, 205);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 2fr 0.1fr 4fr;
    gap: 0.4rem;
}
div{
    border: 0.4rem solid red;
}